@model BookDetailViewModel
<section class="book-detail">
    <div class="row">
        <div class="col-md-9">
			<div class="row">
				<h1 class="mb-0">@Model.Title</h1>
				<span class="isbn">ISBN: @Model.ISBN</span>
				<author>di @Model.Author</author>
			</div>
			<div class="row">
				@* TODO: controllari description vuote *@
				<p>Model.Description</p>
			</div>
        </div>
        <div class="col-md-3">
            <aside>
				@* <a href="#" class="btn btn-warning btn-lg btn-block button-book">Button</a> *@
                
                <img src="@Model.ImagePath" class="img-fluid course-image" alt="@Model.Title">
				<div class="rating d-flex justify-content-center" title="@Model.Rating">
                    @for(int i = 1; i <= 5; i++)
                    {
                        if (Model.Rating >= i)
                        {
                            <i class="fas fa-star"></i>
                        }
                        else if (Model.Rating > i - 1)
                        {
                            <i class="fas fa-star-half-alt"></i>
                        }
                        else
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </div>
			</aside>
        </div>
    </div>

	@* TODO aggiungere modifica reading state e tag (con form) *@
	<div class="row">
		<div class="col-md-12">
		    @Model.Tag
		</div>
		<div class="col-md-12">
		    @Model.ReadingState
		</div>
	</div>
</section>