@model BookDetailViewModel
<section class="book-detail mt-2">
    <div class="row">
        <div class="col-md-9">
			<div class="row">
				<h1 class="mb-0">@Model.Title</h1>
				<span class="isbn">ISBN: @Model.ISBN</span>
				<author>di @Model.Author</author>
			</div>
			<div class="row">
				@* TODO: controllare description vuote *@
				<p>@Html.Raw(Model.Description)</p>
			</div>
        </div>
        <div class="col-md-3">
            <aside class=" d-flex flex-column align-items-center">
                <img src="@Model.ImagePath" class="img-fluid book-image" alt="@Model.Title">
				<div class="rating d-flex justify-content-center" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>
                </div>
				<p><span>@(!string.IsNullOrWhiteSpace(Model.Tag) ? Html.Raw($"{@Model.Tag}</span> - <span>") : "")@Model.ReadingState</span></o> 
				<a class="btn btn-outline-primary btn-sm mt-3" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i> Modifica</a>
			</aside>
        </div>
    </div>

</section>