@model BookListViewModel
<div class="row">
	<div class="col-md-8">
		<h1>La tua libreria</h1>
	</div>
	
	<div class="col-md-4 d-flex align-items-center">
		<form asp-controller="Books" asp-action="Index" method="get">
			<div class="input-group">
				<input type="text" name="search" class="form-control" placeholder="Cerca nella tua libreria" value="@Model.Input.Search">
				<div class="input-group-append">
					<button><i class="input-group-text fas fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row d-flex align-items-center">
	<div class="col-md-1"></div>
	<div class="col-md-2"><a asp-route-search="@Model.Input.Search" asp-route-orderby="Title" asp-route-ascending="@(Model.Input.OrderBy == "Title" ? !Model.Input.Ascending : true)">Titolo @if(Model.Input.OrderBy == "Title"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" :"down")"></i>}</a></div>
	<div class="col-md-2"><a asp-route-search="@Model.Input.Search" asp-route-orderby="Author" asp-route-ascending="@(Model.Input.OrderBy == "Author" ? !Model.Input.Ascending : true)">Autore @if(Model.Input.OrderBy == "Author"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" :"down")"></i>}</a></div>
	<div class="col-md-1"><a asp-route-search="@Model.Input.Search" asp-route-orderby="ReadingState" asp-route-ascending="@(Model.Input.OrderBy == "ReadingState" ? !Model.Input.Ascending : true)">Stato @if(Model.Input.OrderBy == "ReadingState"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" :"down")"></i>}</a></div>
	<div class="col-md-2"><a asp-route-search="@Model.Input.Search" asp-route-orderby="Rating" asp-route-ascending="@(Model.Input.OrderBy == "Rating" ? !Model.Input.Ascending : true)">Valutazione @if(Model.Input.OrderBy == "Rating"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" :"down")"></i>}</a></div>
	<div class="col-md-2"><a asp-route-search="@Model.Input.Search" asp-route-orderby="Tag" asp-route-ascending="@(Model.Input.OrderBy == "Tag" ? !Model.Input.Ascending : true)">Tag @if(Model.Input.OrderBy == "Tag"){<i class="fas fa-caret-@(Model.Input.Ascending ? "up" :"down")"></i>}</a></div>
	<div class="col-md-2"></div>
</div>

@foreach (BookViewModel book in Model.Books.Results)
{
<hr>
<div class="row book-library">
    <div class="col-md-1">
        <img src="~/logo.svg" width="52" height="52">
    </div>
    <div class="col-md-4">
        <h2>@book.Title</h2>
        <author>@book.Author</author>
    </div>
	<div class="col-md-1 d-flex align-items-center">
        @book.ReadingState
    </div>
    <div class="col-md-2 d-flex align-items-center rating" title="@book.Rating">
		@for(int i = 1; i <= 5; i++) 
		{
			if(book.Rating >= i) 
			{
				<i class="fas fa-star"></i>
			}
			else if (book.Rating > i -1 ) 
			{
				<i class="fas fa-star-half-alt"></i>
			}
			else 
			{
				<i class="far fa-star"></i>
			}
		}
		
    </div>
    <div class="col-md-2 d-flex align-items-center">
        @book.Tag
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@book.Id">Dettaglio</a>  
    </div>
</div>
}
@* TODO: se lungo 0 allora messaggio no libri *@

@{
	int totalPages = (int)Math.Ceiling(Model.Books.TotalCount / (decimal)Model.Input.Limit);
	int currentPage = Model.Input.Page;
}
<nav aria-label="Paginazione">
	<ul class="pagination d-flex justify-content-center mt-3">
		@if(currentPage > 1) 
		{
			<li class="page-item">
				<a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@(currentPage - 1)" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fas fa-angle-left"></i></a>
			</li>
		}
		@for(int p = Math.Max(1, currentPage - 4); p <= Math.Min(totalPages, currentPage + 4); p++) 
		{
			if(p == currentPage) 
			{
				<li class="page-item active" aria-current="page">
					<a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@p" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p <span class="sr-only">(current)</span></a>
				</li>
			}
			else 
			{
				<li class="page-item">
					<a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@p" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p</a>
				</li>
			}
		}
		@if(currentPage < totalPages) 
		{
			<li class="page-item">
				<a class="page-link" asp-controller="Books" asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fas fas fa-angle-right"></i></a>
			</li>
		}
	</ul>
</nav>