@model SearchBookViewModel
@{
	BookOverviewViewModel book = Model.Book;
}
@* TODO: cambiare classe book-detail con overview ??? *@
<section class="book-detail mt-2">
    <div class="row">
		<div class="col-md-3">
            <aside>
				<form method="post" asp-controller="Books" asp-action="AddToLibrary">
					<input type="hidden" asp-for="Book.Id">
					<button type="submit" class="btn btn-warning btn-lg btn-block button-book">Aggiungi</button>
				</form>
				
                <img src="@book.ImagePath" class="img-fluid course-image" alt="@book.Title">
			</aside>
        </div>
        <div class="col-md-9">
			<div class="row">
				<h1 class="mb-0">@book.Title</h1>
				<span class="isbn">ISBN: @book.ISBN</span>
				<author>di @book.Author</author>
			</div>
			<div class="row">
				@* TODO: controllare description vuote *@
				<p>@book.Description</p>
			</div>
        </div>
    </div>
</section>